
<link rel="import" href="../bower_components/polymer/polymer.html">
<script src="../js/vendor/colora11y.js"></script>

<dom-module id="pallette-color">

    <template>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,100" rel="stylesheet" type="text/css">
        <style>
            .chart-color {
                min-height: 100px;
                width: 25vw;
                position: relative;
                background: {{ bgColor }};
            }
            .fg-color {
                font-family: "Roboto Mono";
                font-size: 14px;
                padding: 6px 4px;
                line-height: 24px;
            }

            .badge {
                font-size: 14px;
                display: inline-block;
                background: #fefefe;
                padding: 0 4px;
                font-family: "Roboto Condensed";
                margin-left: 4px;
                color: #333;
            }

            @media (max-width: 1240px) {
                .chart-color {
                    width: 33.333vw;
                }
            }

            @media (max-width: 932px) {
                .chart-color {
                    width: 50vw;
                }
            }

            @media (max-width: 622px) {
                .chart-color {
                    width: 100vw;
                }
            }

        </style>

        <div class="chart-color">{{bgColor}}
            <div class="fg-colors">
                <template is="dom-repeat" items="{{ fgColors  }}">
                    <div class="fg-color" style="color:{{ item }}">{{ item }}
                        <div class="badge">AA normal / large</div>
                        <div class="badge">AAA large</div>
                    </div>
                </template>
            </div>
        </div>
    </template>

    <script>
            Polymer({
                is: 'pallette-color',
                properties : {
                    bgColor : {
                        type : String
                    },
                    fgColors : {
                        type : Array,
                        return : function() {
                            return [];
                        }
                    }
                }

            });
    </script>

</dom-module>