@import "main.less";

header, main {
  padding: 0 20px;
}

footer {
  bottom:0;
  padding:20px;
  clear:both;
  display:block;
}

h1 {
  color: @headingColor;
  margin: 10px 0;
  font-family: @headingFont;
  font-size: @headingFontSize;
  font-weight: @headingFontWeight;
}

form {
  border: solid 1px @formBorderColor;
  padding: 15px;
  margin-top: 15px;
  border-radius: 2px;
}

label[for="bg-colors"] {
  display: block;
  color: @inputLabelColor;
}

dl {
  dt {
    font-weight: @descriptionTermFontWeight;
    float:left;
    width: 190px;
    text-align: right;
    padding:0 10px 0 0;
  }

  dd {
    margin: 0;
    clear: right;
  }
}

#color-chart {
  margin: 15px auto;
  padding:0;
  list-style: none;

  li {
    list-style: none;
  }

  > li {
    padding:0;
  }

  ul {
    list-style: none;
    margin:0;
    padding: 0;
  }
}

h3 {
  font-weight: normal;
}

.color-set {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 50% 50%;
  grid-template-rows: 180px;

  height: 180px;
  padding: 0;
  box-shadow: @complianceBadgeShadow;

  animation-name: appear;
  animation-timing-function: ease;

  &:nth-child(n) {
    animation-duration: 5s;
  }

  &:nth-child(2n) {
    animation-duration: 1s;
  }

  &:nth-child(3n) {
    animation-duration: 3s;
  }

  &:nth-child(4n) {
    animation-duration: 2s;
  }
}

.color-set-color {
  height: 180px;
  padding: 10px 0 0 10px;

  h4 {
    padding: 0 0 10px;
    margin: 0;
    font-weight: normal;
    font-size: 21px;
  }
}

.ratio {
  display: block;
  padding: 0 0 10px;
}


#color-chart {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto ;
  grid-template-rows: 180px;
}


@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  #color-chart {
    grid-template-columns: auto auto ;
  }
}

@media (max-width: 670px) {
  #color-chart {
    grid-template-columns: auto;
  }
}