
@import "main.less";

header {
  padding: 0 20px;
}

footer {
  bottom:0;
  padding:20px;
  clear:both;
  display:block;
}

h1 {
  color: @headingColor;
  margin: 10px 0;
  font-family: @headingFont;
  font-size: @headingFontSize;
  font-weight: @headingFontWeight;
}

form {
  border: solid 1px @formBorderColor;
  padding: 15px;
  margin-top: 15px;
  border-radius: 2px;
}

label[for="bg-colors"], label[for="fg-colors"] {
  display: block;
  color: @inputLabelColor;
}

label[for="fg-colors"] {
  margin-top: 15px;
}

label[for^="show-"] {
  display: inline-block;
}


dl {
  dt {
    font-weight: @descriptionTermFontWeight;
    float:left;
    width: 190px;
    text-align: right;
    padding:0 10px 0 0;
  }

  dd {
    margin: 0;
    clear: right;
  }
}

.input-group {
  margin-top: 10px;
}

#color-chart {
  margin: 15px auto;
  padding:0;
  list-style: none;

  li {
    list-style: none;
  }

  > li {
    padding:0;
  }

  ul {
    list-style: none;
    margin:0;
    padding: 0;
  }

  ul.fg-colors {
    padding: 10px 0 10px 5px;
    transition: padding 1s @transitionAnimation;
  }

  &.hide-wcag-labels .badge {
    opacity:0;
  }

  &.show-wcag-labels .badge {
    opacity:1;
  }

  &.hide-bg-colors .fg-colors  {
    padding-top:10px;
  }

  &.show-bg-colors .fg-colors {
    padding-top:30px;
  }

  &.hide-bg-colors .chart-color h3  {
    top:-25px;
  }

  &.show-bg-colors .chart-color h3 {
    top:0px;
  }
}

.chart-color {
  float: left;
  min-height: 100px;
  width: 25%;
  position: relative;
  animation-name: appear;
  animation-timing-function: ease;
  overflow: hidden;

  &:nth-child(n) {
    animation-duration: 5s;
  }

  &:nth-child(2n) {
    animation-duration: 1s;
  }

  &:nth-child(3n) {
    animation-duration: 3s;
  }

  &:nth-child(4n) {
    animation-duration: 2s;
  }

  h3 {
    display: inline-block;
    position: absolute;
    top:-25px;
    transition: top 1s @transitionAnimation;
    padding: 0 10px;
    margin: 0;
    line-height: 20px;
    height:20px;
    border-radius: 0 0 2px 0;

    font-family: @bgColorFont;
    font-size: @bgColorFontSize;
    font-weight: @bgColorFontWeight;
    background: @bgColorBackgroundColor;
    color: @bgColorColor;
    box-shadow: @bgColorShadow;
  }
}

.fg-color {
  font-family: @fgColorFont;
  font-size: @fgColorFontSize;
  padding: 0 4px;
  line-height: 20px;
  height: 40px;

  h4 {
    display:inline;
    font-size: @fgColorFontSize;
    font-weight: normal;
    line-height: 40px;
  }

  ul.badges {
    display:inline-block;
  }
}

.badge {
  opacity: 1;
  transition: opacity 1s @transitionAnimation;
  font-size: @complianceBadgeFontSize;
  display: inline-block;
  background: @complianceBadgeBackgroundColor;
  padding: 0 5px;
  font-family: @complianceBadgeFont;
  margin-left: 0;
  color: @complianceBadgeColor;
  border-radius: 2px;
  box-shadow: @complianceBadgeShadow;
}

fieldset {
  position: relative;
  border:0;
  padding: 0;
  margin-top: 15px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1240px) {
  .chart-color {
    width: 33.333%;
  }
}

@media (max-width: 932px) {
  .chart-color {
    width: 50%;
  }
}

@media (max-width: 622px) {
  .chart-color {
    width: 100%;
  }
}